<section class="py-5">
    <h1 class="display-3 text-warning">
        Access Denied!
    </h1>
    <p class="lead">Sorry, your logged in account has no right to access this page!</p>
    <a href="/" class="btn btn-success btn-lg">Go Back Home</a>
    
</section>

<br>
<br>
<br>