<div class="row mt-5">
    <div class="col-md-6 m-auto">
        <div class="card card-body">
            <h1 class="text-center mb-3">
				  <i class="fas fa-user-plus"></i>  Sign Up
			</h1>
            {{#if hasErrors}}
                <div class="alert alert-danger">
                    {{#each messages}}
                        <p>{{this}}</p>
                    {{/each}}
                </div>
            {{/if}}
            <form action="/user/signup" method="POST">               
                    <div class="form-group">
                        <label for="inputEmail1" class="form-label">Email address</label>
                        <input type="email" class="form-control form-control-lg" id="inputEmail1" name="email" aria-describedby="emailHelp">
                        <div id="emailHelp" class="form-text">We'll never share your email with anyone else.</div>
                    </div>                   
                
                    <div class="mb-3">
                        <label for="inputPassword1" class="form-label">Password</label>
                        <input type="password" class="form-control form-control-lg" id="inputPassword1" name="password">
                    </div>
                

                <div class="container">
                    <div class="row d-flex justify-content-center align-items-center">
                        <div class="col">
                            <div class="card my-4">
                                <div class="row g-0">
                                    <div class="col-xl-12">
                                        <div class="card-body p-md-5 text-black">
                                            <h3 class="mb-4 text-uppercase">Delivery Info</h3>
                                            <div class="row">
                                                <div class="col-md-6 mb-4">
                                                    <div class="form-outline">
                                                        <label class="form-label" for="form3Example1m">First Name</label>
                                                        <input type="text" id="form3Example1m" name="firstName" class="form-control form-control-lg" />                                   
                                                    </div>
                                                </div>
                                                <div class="col-md-6 mb-4">
                                                    <div class="form-outline">
                                                        <label class="form-label" for="form3Example1n">Last Name</label>
                                                        <input type="text" id="form3Example1n" name="lastName" class="form-control form-control-lg" />                                        
                                                    </div>
                                                </div>
                                            </div>

                                            <div class="form-outline mb-4">
                                                <label class="form-label" for="form3Example8">Address</label>
                                                <input type="text" id="form3Example8" name="address" class="form-control form-control-lg" />                                        
                                            </div>

                                            <div class="row">
                                                <div class="col-md-6 mb-4">
                                                    <div class="form-outline">
                                                        <label class="form-label" for="form3Example1m">City</label>
                                                        <input type="text" id="form3Example1m"  name="city" class="form-control form-control-lg" />                                        
                                                    </div>
                                                </div>
                                                <div class="col-md-6 mb-4">
                                                    <div class="form-outline">
                                                        <label class="form-label" for="form3Example1n">Province</label>
                                                        <input type="text" id="form3Example1n" name="province" class="form-control form-control-lg" />                                        
                                                    </div>
                                                </div>
                                            </div>

                                            <div class="form-outline mb-4">
                                                <label class="form-label" for="form3Example3">Postal Code</label>
                                                <input type="text" id="form3Example3" name="postalCode" class="form-control form-control-lg" />                                    
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>


                <input type="hidden" name="_csrf" value="{{ csrfToken }}">
                <button type="submit" class="btn btn-primary btn-block mt-2">Sign Up</button>
            </form>
            <p class="lead mt-4">Have An Account? <a href="/user/signin">Sign In</a></p>
        </div>
    </div>
</div>

<br>
<br>
<br>