	<h3>Welcome to Payment Gateway</h3> 
	<form action="/" method="POST"> 
	<script
		src="//checkout.stripe.com/v2/checkout.js"
		class="stripe-button"
		data-key="{{key}}" 
		data-amount="{{total}}" 
		data-currency="usd" 
		data-name="Stripe Payment" 
		data-description="Buy tires from Wholesale Tires" 
		data-locale="auto" > 
		</script> 
	</form> 
