<div id="carouselExampleCaptions" class="carousel slide" data-bs-ride="carousel">
	<div class="carousel-indicators">
		<button type="button" data-bs-target="#carouselExampleCaptions" data-bs-slide-to="0" class="active" aria-current="true" aria-label="Slide 1"></button>
		<button type="button" data-bs-target="#carouselExampleCaptions" data-bs-slide-to="1" aria-label="Slide 2"></button>
		<button type="button" data-bs-target="#carouselExampleCaptions" data-bs-slide-to="2" aria-label="Slide 3"></button>
	</div>
	<div class="carousel-inner">
		<div class="carousel-item active">
			<img src="/images/background3.jpg" class="d-block w-100" alt="background3.jpg">
			<div class="carousel-caption d-none d-md-block">
				<h1>All Season Tires</h1>				  
			</div>
		</div>
		<div class="carousel-item">
			<img src="/images/background2.jpg" class="d-block w-100" alt="background2.jpg">
			<div class="carousel-caption d-none d-md-block">
				<h1>Winter Tires</h1>
			</div>
		</div>
		<div class="carousel-item">
			<img src="/images/background4.jpg" class="d-block w-100" alt="background4.jpg">
			<div class="carousel-caption d-none d-md-block">
				<h1>Off Road Tires</h1>
			</div>
		</div>
	</div>
	<button class="carousel-control-prev" type="button" data-bs-target="#carouselExampleCaptions" data-bs-slide="prev">
        <span class="carousel-control-prev-icon" aria-hidden="true"></span>
        <span class="visually-hidden">Previous</span>
	</button>
	<button class="carousel-control-next" type="button" data-bs-target="#carouselExampleCaptions" data-bs-slide="next">
		<span class="carousel-control-next-icon" aria-hidden="true"></span>
		<span class="visually-hidden">Next</span>
	</button>
</div>

<!--- Two Column Section -->
<div class="container-fluid padding mt-4">
	<div class="row padding">
		<div class="col-lg-7">
			<h2 class="mt-4">Shop by tire size</h2>
			<h5 class="mt-4">The perfect tires. The perfect fit.</h5>
			<p class="mt-4">Make your search even easier by searching for a specific tire size. Got questions? We'll help you determine your tires' width, aspect ratio, and diameter.</p>
			<h5 class="mt-4">Enter Tire Diameter Size</h5>
			<form class="mt-2" action="/" method="POST">
				<div class="row">
					<div class="col-md-4">
						<label for="chooseWidth" class="searchDropdownLable">Width</label>
						<select name="searchWidth" class="form-select form-select-sm" aria-label=".form-select-sm" id="chooseWidth" required>
							<option selected>Choose Width</option>
							<option value=195>195</option>
							<option value=205>205</option>
							<option value=215>215</option>
							<option value=225>225</option>
							<option value=235>235</option>
							<option value=245>245</option>
						</select>
					</div>
					<div class="col-md-4">
						<label for="chooseAspectRatio">Aspect Ratio</label>
						<select name="searchAspectRatio" class="form-select form-select-sm" aria-label=".form-select-sm" id="chooseAspectRatio" required>
							<option selected>Choose Aspect Ratio</option>
							<option value=40>40</option>
							<option value=45>45</option>
							<option value=50>50</option>
							<option value=55>55</option>
							<option value=60>60</option>
							<option value=65>65</option>
							<option value=70>70</option>
						</select>
					</div>
					<div class="col-md-4">
						<label for="chooseDiameter">Diameter</label>
						<select name="searchDiameter" class="form-select form-select-sm" aria-label=".form-select-sm" id="chooseDiameter" required>
							<option selected>Choose Diameter</option>
							<option value=16>16</option>
							<option value=17>17</option>
							<option value=18>18</option>
							<option value=19>19</option>
						</select>
					</div>

					
				</div>

				<div class="d-grid gap-2 col-5 ms-auto">
					<button class="btn btn-primary btn-lg" type="submit"><i class="fa fa-search"></i></button>
				</div>
								
			</form>
			<br>
			{{!-- <a href="#" class="btn btn-primary">Learn More</a> --}}
		</div>
		<div class="col-lg-5">
			<img src="/images/tire-size.png" alt="tire-size.png" class="img-fluid">
		</div>	
	</div>
	<hr class="my-4">
</div>
				

<!--- Hot sale Section -->
{{!-- <div class="container-fluid">
	<div class="row welcome text-center">
		<div class="col-12">
			<h1 class="display-4">HOT SALE</h1>
		</div>
	</div>
</div> --}}

<!--- Three Column Section -->
{{!-- <div class="container-fluid padding">
	<div class="row text-center padding">
		<div class="col-xs-12 col-sm-6 col-md-4">
			<i class="fas fa-code"></i>
			<h3>HTML5</h3>
			<p>Built with the latest version of HTML, HTML5.</p>
		</div>
		<div class="col-xs-12 col-sm-6 col-md-4">
			<i class="fas fa-bold"></i>
			<h3>BOOTSTRAP</h3>
			<p>Built with the latest version of Bootstrap, Bootstrap 4.</p>
		</div>
	    <div class="col-xs-12 col-sm-6 col-md-4">
			<i class="fab fa-css3"></i>
			<h3>CSS3</h3>
			<p>Built with the latest version of CSS, CSS3.</p>
		</div>
	</div>
	<hr class="my-4">
</div> --}}


<!--- Two Column Section -->
<div class="container-fluid padding mt-4">
	<div class="row padding">
		<div class="col-lg-6">
			<h2>Why choose us ?</h2>
			<p class="mt-4">Wholesale Tires Canada is based in Regina, and focusing on sales of tires over ten years.</p>
			<p>We provide high-quality tires and pre-sales and after-sales services.
			</p>
			<p>Currently, we are selling tires to individuals and companies all across Canada. We will be expanidng our operations into the United States soon.</p>
			<br>
			<a href="/about" class="btn btn-primary">Learn More</a>
		</div>
		<div class="col-lg-6">
			<img src="/images/tires.jpg" alt="tires.jpg" class="img-fluid">
		</div>
	</div>
	<hr class="my-4">
</div>
		

<!--- Connect -->
<div class="container-fluid padding">
	<div class="row text-center padding">
		<div class="col-12">
			<h2>Connect</h2>
		</div>
		<div class="col-12 social padding">
			<a href="#"><i class="fab fa-facebook"></i></a>
			<a href="#"><i class="fab fa-twitter"></i></a>
			<a href="#"><i class="fab fa-google-plus-g"></i></a>
			<a href="#"><i class="fab fa-instagram"></i></a>
			<a href="#"><i class="fab fa-youtube"></i></a>
		</div>
	</div>
</div>