<div id="carouselExampleCaptions" class="carousel slide" data-bs-ride="carousel">
	<div class="carousel-indicators">
		<button type="button" data-bs-target="#carouselExampleCaptions" data-bs-slide-to="0" class="active" aria-current="true" aria-label="Slide 1"></button>
		<button type="button" data-bs-target="#carouselExampleCaptions" data-bs-slide-to="1" aria-label="Slide 2"></button>
		<button type="button" data-bs-target="#carouselExampleCaptions" data-bs-slide-to="2" aria-label="Slide 3"></button>
	</div>
	<div class="carousel-inner">
		<div class="carousel-item active">
			<img src="/images/background3.jpg" class="d-block w-100" alt="background3.jpg">
			<div class="carousel-caption d-none d-md-block">
				<h1>All Season Tires</h1>				  
			</div>
		</div>
		<div class="carousel-item">
			<img src="/images/background2.jpg" class="d-block w-100" alt="background2.jpg">
			<div class="carousel-caption d-none d-md-block">
				<h1>Winter Tires</h1>
			</div>
		</div>
		<div class="carousel-item">
			<img src="/images/background4.jpg" class="d-block w-100" alt="background4.jpg">
			<div class="carousel-caption d-none d-md-block">
				<h1>Off Road Tires</h1>
			</div>
		</div>
	</div>
	<button class="carousel-control-prev" type="button" data-bs-target="#carouselExampleCaptions" data-bs-slide="prev">
        <span class="carousel-control-prev-icon" aria-hidden="true"></span>
        <span class="visually-hidden">Previous</span>
	</button>
	<button class="carousel-control-next" type="button" data-bs-target="#carouselExampleCaptions" data-bs-slide="next">
		<span class="carousel-control-next-icon" aria-hidden="true"></span>
		<span class="visually-hidden">Next</span>
	</button>
</div>

<!--- Two Column Section -->
<div class="container-fluid padding mt-4">
	<div class="row padding">
		<div class="col-lg-7">
			<h2 class="mt-4">Shop by tire size</h2>
			<h5 class="mt-4">The perfect tires. The perfect fit.</h5>
			<p class="mt-4">Make your search even easier by searching for a specific tire size. Got questions? We'll help you determine your tires' width, aspect ratio, and diameter.</p>
			<h5 class="mt-4">Enter Tire Diameter Size</h5>
			<form class="mt-2" action="/" method="POST">
				<div class="row">
					<div class="col-md-4">
						<label for="chooseWidth" class="searchDropdownLable">Width</label>
						<select name="searchWidth" class="form-select form-select-sm" aria-label=".form-select-sm" id="chooseWidth" required>
							<option selected>Choose Width</option>
							<option value=195>195</option>
							<option value=205>205</option>
							<option value=215>215</option>
							<option value=225>225</option>
							<option value=235>235</option>
							<option value=245>245</option>
						</select>
					</div>
					<div class="col-md-4">
						<label for="chooseAspectRatio">Aspect Ratio</label>
						<select name="searchAspectRatio" class="form-select form-select-sm" aria-label=".form-select-sm" id="chooseAspectRatio" required>
							<option selected>Choose Aspect Ratio</option>
							<option value=40>40</option>
							<option value=45>45</option>
							<option value=50>50</option>
							<option value=55>55</option>
							<option value=60>60</option>
							<option value=65>65</option>
							<option value=70>70</option>
						</select>
					</div>
					<div class="col-md-4">
						<label for="chooseDiameter">Diameter</label>
						<select name="searchDiameter" class="form-select form-select-sm" aria-label=".form-select-sm" id="chooseDiameter" required>
							<option selected>Choose Diameter</option>
							<option value=16>16</option>
							<option value=17>17</option>
							<option value=18>18</option>
							<option value=19>19</option>
						</select>
					</div>				
				</div>


				<div class="d-grid gap-2 col-5 ms-auto">
					<button class="btn btn-primary btn-lg" type="submit"><i class="fa fa-search"></i></button>
				</div>
								
			</form>
			
			<br>
			{{!-- search by car model --}}
			{{!-- <h2 class="mt-4">Shop by car model</h2>
			<form class="mt-2" action="/" method="POST">
				<div class="row">
					<div class="col-md-4">
						<label for="chooseYear" class="searchDropdownLable">Width</label>
						<select name="searchYear" class="form-select form-select-sm" aria-label=".form-select-sm" id="chooseWidth" required>
							<option selected>Choose Year</option>
							<option value="2021">2021</option>
							<option value="2020">2020</option>
							<option value="2019">2019</option>
							<option value="2018">2018</option>
							<option value="2017">2017</option>
							<option value="2016">2016</option>
							<option value="2015">2015</option>
							<option value="2014">2014</option>
							<option value="2013">2013</option>
							<option value="2012">2012</option>
							<option value="2011">2011</option>
							<option value="2010">2010</option>
							<option value="2009">2009</option>
							<option value="2008">2008</option>
							<option value="2007">2007</option>
							<option value="2006">2006</option>
							<option value="2005">2005</option>
							<option value="2004">2004</option>
							<option value="2003">2003</option>
							<option value="2002">2002</option>
							<option value="2001">2001</option>
						</select>
					</div>
					<div class="col-md-4">
						<label for="chooseMake">Make</label>
						<select name="searchMake" class="form-select form-select-sm" aria-label=".form-select-sm" id="chooseMake" required>
							<option selected>Choose Make</option>
							<option value="Acura">Acura</option><option value="Alfa Romeo">Alfa Romeo</option><option value="Aston Martin">Aston Martin</option><option value="Audi">Audi</option><option value="Bentley">Bentley</option><option value="BMW">BMW</option><option value="Buick">Buick</option><option value="Cadillac">Cadillac</option><option value="Chevrolet">Chevrolet</option><option value="Chrysler">Chrysler</option><option value="Dodge">Dodge</option><option value="Ferrari">Ferrari</option><option value="Fiat">Fiat</option><option value="Ford">Ford</option><option value="Genesis">Genesis</option><option value="GMC">GMC</option><option value="Honda">Honda</option><option value="Hyundai">Hyundai</option><option value="Infiniti">Infiniti</option><option value="Jaguar">Jaguar</option><option value="Jeep">Jeep</option><option value="Karma">Karma</option><option value="Kia">Kia</option><option value="Lamborghini">Lamborghini</option><option value="Land Rover">Land Rover</option><option value="Lexus">Lexus</option><option value="Lincoln">Lincoln</option><option value="Maserati">Maserati</option><option value="Mazda">Mazda</option><option value="McLaren">McLaren</option><option value="Mercedes-Benz">Mercedes-Benz</option><option value="Mini">Mini</option><option value="Mitsubishi">Mitsubishi</option><option value="Nissan">Nissan</option><option value="Porsche">Porsche</option><option value="Ram">Ram</option><option value="Rolls-Royce">Rolls-Royce</option><option value="Smart">Smart</option><option value="Subaru">Subaru</option><option value="Tesla">Tesla</option><option value="Toyota">Toyota</option><option value="Volkswagen">Volkswagen</option><option value="Volvo">Volvo</option>
						</select>
					</div>
					<div class="col-md-4">
						<label for="chooseModel">Model</label>
						<select name="searchModel" class="form-select form-select-sm" aria-label=".form-select-sm" id="chooseDiameter" required>
							<option selected>Choose Model</option>
							<option value="4Runner">4Runner</option><option value="86">86</option><option value="Avalon">Avalon</option><option value="Camry">Camry</option><option value="C-HR">C-HR</option><option value="Corolla">Corolla</option><option value="Highlander">Highlander</option><option value="Prius">Prius</option><option value="Prius AWD-e">Prius AWD-e</option><option value="Prius C">Prius C</option><option value="Prius Prime">Prius Prime</option><option value="RAV4">RAV4</option><option value="Sequoia">Sequoia</option><option value="Sienna">Sienna</option><option value="Tacoma">Tacoma</option><option value="Tundra">Tundra</option><option value="Yaris">Yaris</option>
						</select>
					</div>				
				</div>
				<div class="d-grid gap-2 col-5 ms-auto">
					<button class="btn btn-primary btn-lg" type="submit"><i class="fa fa-search"></i></button>
				</div>								
			</form> --}}

			{{!-- <a href="#" class="btn btn-primary">Learn More</a> --}}
		</div>
		<div class="col-lg-5">
			<img src="/images/tire-size.png" alt="tire-size.png" class="img-fluid">
		</div>	
	</div>
	<hr class="my-4">
</div>
				

<!--- Hot sale Section -->
{{!-- <div class="container-fluid">
	<div class="row welcome text-center">
		<div class="col-12">
			<h1 class="display-4">HOT SALE</h1>
		</div>
	</div>
</div> --}}

<!--- Three Column Section -->
{{!-- <div class="container-fluid padding">
	<div class="row text-center padding">
		<div class="col-xs-12 col-sm-6 col-md-4">
			<i class="fas fa-code"></i>
			<h3>HTML5</h3>
			<p>Built with the latest version of HTML, HTML5.</p>
		</div>
		<div class="col-xs-12 col-sm-6 col-md-4">
			<i class="fas fa-bold"></i>
			<h3>BOOTSTRAP</h3>
			<p>Built with the latest version of Bootstrap, Bootstrap 4.</p>
		</div>
	    <div class="col-xs-12 col-sm-6 col-md-4">
			<i class="fab fa-css3"></i>
			<h3>CSS3</h3>
			<p>Built with the latest version of CSS, CSS3.</p>
		</div>
	</div>
	<hr class="my-4">
</div> --}}


<!--- Two Column Section -->
<div class="container-fluid padding mt-4">
	<div class="row padding">
		<div class="col-lg-6">
			<h2>Why choose us ?</h2>
			<p class="mt-4">Wholesale Tires Canada is based in Regina, and focusing on sales of tires over ten years.</p>
			<p>We provide high-quality tires and pre-sales and after-sales services.
			</p>
			<p>Currently, we are selling tires to individuals and companies all across Canada. We will be expanidng our operations into the United States soon.</p>
			<br>
			<a href="/about" class="btn btn-primary">Learn More</a>
		</div>
		<div class="col-lg-6">
			<img src="/images/tires.jpg" alt="tires.jpg" class="img-fluid">
		</div>
	</div>
	<hr class="my-4">
</div>
		

<!--- Connect -->
<div class="container-fluid padding">
	<div class="row text-center padding">
		<div class="col-12">
			<h2>Connect</h2>
		</div>
		<div class="col-12 social padding">
			<a href="#"><i class="fab fa-facebook"></i></a>
			<a href="#"><i class="fab fa-twitter"></i></a>
			<a href="#"><i class="fab fa-google-plus-g"></i></a>
			<a href="#"><i class="fab fa-instagram"></i></a>
			<a href="#"><i class="fab fa-youtube"></i></a>
		</div>
	</div>
</div>