<section class="py-5">
    <h1 class="display-3">
        Thank you!
    </h1>
    <p class="lead">We will process shipping within 3 business days.</p>
    <a href="/" class="btn btn-dark btn-lg">Go Back Home</a>
</section>

<br>
<br>
<br>